<%= form_for @post do |f| %>

    <div class="field">
        <%= f.label "Title" %>
        <%= f.text_field :title %>
    </div>

    <div class="field">
        <%= f.label "Content" %>
        <%= f.text_area :content %>
    </div>

    <br>
    <br>
    <%# Check Boxes %>
    <div class="field">
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
    </div>
    <br>
    <br>

    <div class="field">
        <%= f.fields_for :categories, post.categories.build do |cat_field| %>
            <%= cat_field.label :name, "Category" %>
            <%= cat_field.text_field :name %>
        <% end %>
    </div>

    <div>
        <%= f.submit %>
    </div>

<% end %>
